.login_button {
    margin: 0 0 0 20vw !important;
}

.login_button > button {
    background: none;
    border: none;
    font-size: 2.3vw;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
}